{% extends 'includes/layout.njk' %}
{% from 'components/back-link/macro.njk' import backLink %}
{% from 'components/bc-button/macro.njk' import bcButton %}
{% from 'components/bc-error-summary/macro.njk' import bcErrorSummary %}
{% from 'components/bc-table/macro.njk' import bcTable %}
{% from 'components/date-field/macro.njk' import dateField %}
{% from 'components/text-field/macro.njk' import textField %}
{% from 'components/radiobutton-options/macro.njk' import radiobuttonOptions %}
{% from 'components/view/components/view-expandable-section/macro.njk' import viewExpandableSection %}

{% block body %}
  <div class="nhsuk-width-container" data-test-id="order-item-page">
    <div data-test-id="go-back-link">
      {{ backLink({
        "href": backLinkHref,
        "text": backLinkText
      }) }}
    </div>

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
      {% if (errors.length > 0) %}
          {{ bcErrorSummary({
            errors: errors
          }) }}
        {% endif %}
        <h1 data-test-id="order-item-page-title" class="nhsuk-u-margin-top-7 nhsuk-u-margin-bottom-3">{{ title }}</h1>
        <h2 data-test-id="order-item-page-description" class="nhsuk-u-font-size-24 nhsuk-u-margin-bottom-6">{{ description }}</h2>
      </div>

        <form method="post">
          <div class="nhsuk-grid-column-two-thirds">
            <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

            <div class="nhsuk-u-margin-bottom-5">
              {{ dateField({ question: questions[0]}) }}
            </div>

          <div class="nhsuk-u-margin-bottom-5">
            <div class="">
            {{ textField({ 
              question: questions[1],
              classes: "nhsuk-input--width-10"
            }) }}
            {{ viewExpandableSection(questions[1].expandableSection) }}
            </div>

            <div class="nhsuk-u-margin-bottom-5">
            {{
              radiobuttonOptions({
                question: questions[2]
              })
            }}
            {{ viewExpandableSection(questions[2].expandableSection) }}
            </div>
          </div>
        </div>

        <div class="nhsuk-grid-column-full">
          <hr class="nhsuk-u-margin-top-0 nhsuk-u-margin-bottom-3 bc-c-order-table__hr"/>
          <div data-test-id="price-table" class="nhsuk-u-margin-left-5 nhsuk-u-margin-top-0">
            {{ bcTable(addPriceTable)}}
            </div>
        </div>

        <div class="nhsuk-grid-column-two-thirds">

          {{ bcButton({
              dataTestId: "delete-button",
              text: deleteButtonText,
              href: deleteButtonHref,
              classes: "nhsuk-u-margin-top-9 nhsuk-button--secondary"
          })}}

          {{ bcButton({
              dataTestId: "save-button",
              text: saveButtonText,
              classes: "nhsuk-u-margin-top-9"
          })}}
        </div>
        </form>
    </div>
  </div>
{% endblock %}
