{% extends 'includes/layout.njk' %}
{% from 'components/back-link/macro.njk' import backLink %}
{% from 'components/bc-button/macro.njk' import bcButton %}
{% from 'components/bc-table/macro.njk' import bcTable %}

{% block body %}
  <div class="nhsuk-width-container" data-test-id="dashboard-page">
    <div data-test-id="go-back-link">
      {{ backLink({
        "href": config.publicBrowseBaseUrl + "/re-login",
        "text": backLinkText
      }) }}
    </div>

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">

      {% if ( config.showProxy === 'true' ) and ( secondaryOrganisation === 'true' ) %}
        <h1 data-test-id="dashboard-page-proxy-title" class="nhsuk-u-margin-top-7 nhsuk-u-margin-bottom-3">Orders for {{ title }}</h1>
        <p data-test-id="dashboard-page-proxy-description" class="nhsuk-heading-l nhsuk-u-font-size-24 nhsuk-u-margin-bottom-1">{{ proxy.description }}</p>

        <h2>Current organisation</h2>
        <p class="nhsuk-u-margin-bottom-2">You are currently acting on behalf of:</p>
        <p data-test-id="dashboard-page-proxy-on-behalf" class="nhsuk-u-margin-bottom-6">{{ title }} <a href="#" class="nhsuk-u-margin-left-4">Change organisation</a></p>

      {% else %}
        <h1 data-test-id="dashboard-page-title" class="nhsuk-u-margin-top-7 nhsuk-u-margin-bottom-3">{{ title }} orders</h1>
        <p data-test-id="dashboard-page-description" class="nhsuk-heading-l nhsuk-u-font-size-24 nhsuk-u-margin-bottom-6">{{ description }}</p>
      {% endif %}

        {{ bcButton({
          dataTestId: "new-order-button",
          text: newOrderButtonText,
          classes: "nhsuk-u-margin-bottom-3 nhsuk-u-padding-left-5 nhsuk-u-padding-right-5",
          href: newOrderButtonHref
        }) }}
      </div>

      <div class="nhsuk-grid-column-full">
        <div data-test-id="incomplete-orders-table">
          {{ bcTable({
            caption: {
              text: incompleteOrdersTableTitle
            },
            columnInfo: incompleteOrdersTable.columnInfo,
            data: incompleteOrders.items
          }) }}
        </div>

        <div data-test-id="complete-orders-table">
          {{ bcTable({
            caption: {
              text: completeOrdersTableTitle
            },
            columnInfo: completeOrdersTable.columnInfo,
            data: completeOrders.items
          }) }}
        </div>
      </div>
      </div>
    </div>
  </div>
{% endblock %}
