{% extends 'includes/layout.njk' %}
{% from 'components/back-link/macro.njk' import backLink %}
{% from 'components/bc-button/macro.njk' import bcButton %}
{% from 'components/radiobutton-options/macro.njk' import radiobuttonOptions %}

{% block body %}
  <div class="nhsuk-width-container" data-test-id="solutions-price-page">
    <div data-test-id="go-back-link">
      {{ backLink({
        href: backLinkHref,
        text: backLinkText
      }) }}
    </div>

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
        <h1 data-test-id="solutions-price-page-title" class="nhsuk-u-margin-top-7 nhsuk-u-margin-bottom-3">{{ title }}</h1>
        <h2 data-test-id="solutions-price-page-description" class="nhsuk-u-font-size-24 nhsuk-u-margin-bottom-6">{{ description }}</h2>
          {{
            radiobuttonOptions({
              question: prices[0]
            })
          }}

          {{ bcButton({
              dataTestId: "continue-button",
              text: continueButtonText,
              classes: "nhsuk-u-margin-top-9"
          }) }}
    </div>
  </div>
{% endblock %}
