{% extends 'includes/layout.njk' %}
{% from 'components/back-link/macro.njk' import backLink %}
{% from 'components/bc-button/macro.njk' import bcButton %}
{% from 'components/text-field/macro.njk' import textField %}
{% from 'components/bc-error-summary/macro.njk' import bcErrorSummary %}

{% block body %}
  <div class="nhsuk-width-container" data-test-id="call-off-ordering-party-page">
    <div data-test-id="go-back-link">
      {{ backLink({
        "href": backLinkHref,
        "text": backLinkText
      }) }}
    </div>

    <form method="post">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
          {% if (errors.length > 0) %}
            {{ bcErrorSummary({
              errors: errors
            }) }}
          {% endif %}

          <h1 data-test-id="call-off-ordering-party-page-title" class="nhsuk-u-margin-top-7 nhsuk-u-margin-bottom-3">{{ title }}</h1>
          <h2 data-test-id="call-off-ordering-party-page-description" class="nhsuk-u-font-size-24 nhsuk-u-margin-bottom-9">{{ description }}</h2>

          <h3 data-test-id="organisation-name-heading" class="nhsuk-heading-s nhsuk-u-margin-bottom-3">{{ orgNameHeading }}</h3>
          <div data-test-id="organisation-name" class="nhsuk-u-font-size-19 nhsuk-u-margin-bottom-5">{{ orgData.name }}</div>
          <input type="hidden" name="name" value="{{ orgData.name }}" />

          <h3 data-test-id="organisation-ods-code-heading" class="nhsuk-heading-s nhsuk-u-margin-bottom-3">{{ odsCodeHeading }}</h3>
          <div data-test-id="organisation-ods-code" class="nhsuk-u-font-size-19 nhsuk-u-margin-bottom-5">{{ orgData.odsCode }}</div>
          <input type="hidden" name="odsCode" value="{{ orgData.odsCode }}" />

          <h3 data-test-id="organisation-address-heading" class="nhsuk-heading-s nhsuk-u-margin-bottom-3">{{ orgAddressHeading }}</h3>
          <div data-test-id="organisation-address-1" class="nhsuk-u-font-size-19">{{ orgData.address.line1 }}</div>
          <input type="hidden" name="line1" value="{{ orgData.address.line1 }}" />
          <div data-test-id="organisation-address-2" class="nhsuk-u-font-size-19">{{ orgData.address.line2 }}</div>
          <input type="hidden" name="line2" value="{{ orgData.address.line2 }}" />
          <div data-test-id="organisation-address-3" class="nhsuk-u-font-size-19">{{ orgData.address.line3 }}</div>
          <input type="hidden" name="line3" value="{{ orgData.address.line3 }}" />
          <div data-test-id="organisation-address-4" class="nhsuk-u-font-size-19">{{ orgData.address.line4 }}</div>
          <input type="hidden" name="line4" value="{{ orgData.address.line4 }}" />
          <div data-test-id="organisation-address-5" class="nhsuk-u-font-size-19">{{ orgData.address.line5 }}</div>
          <input type="hidden" name="line5" value="{{ orgData.address.line5 }}" />
          <div data-test-id="organisation-address-town" class="nhsuk-u-font-size-19">{{ orgData.address.town }}</div>
          <input type="hidden" name="town" value="{{ orgData.address.town }}" />
          <div data-test-id="organisation-address-county" class="nhsuk-u-font-size-19">{{ orgData.address.county }}</div>
          <input type="hidden" name="county" value="{{ orgData.address.county }}" />
          <div data-test-id="organisation-address-postcode" class="nhsuk-u-font-size-19">{{ orgData.address.postcode }}</div>
          <input type="hidden" name="postcode" value="{{ orgData.address.postcode }}" />
          <div data-test-id="organisation-address-country" class="nhsuk-u-font-size-19 nhsuk-u-margin-bottom-5">{{ orgData.address.country }}</div>
          <input type="hidden" name="country" value="{{ orgData.address.country }}" />
        </div>
      </div>
      <hr class="bc-c-order-table--hr"/>
      <div class="nhsuk-grid-row">
        <div data-test-id="primary-contact-fields" class="nhsuk-grid-column-two-thirds">
          <h2 data-test-id="primary-contact-details-heading" class="nhsuk-u-font-size-32 nhsuk-u-margin-bottom-7 nhsuk-u-margin-top-3">{{ primartContactHeading }}</h2>
          {% for question in questions %}
            <div class="nhsuk-u-margin-bottom-5">
              {{ textField({ question: question }) }}
            </div>
          {% endfor %}
          {{ bcButton({
              dataTestId: "save-button",
              text: saveButtonText,
              classes: "nhsuk-u-margin-top-9"
          })}}
      </div>
    </div>
  </form>
</div>
{% endblock %}
