{% extends 'includes/layout.njk' %}
{% from 'components/back-link/macro.njk' import backLink %}
{% from 'components/bc-button/macro.njk' import bcButton %}

{% block body %}
  <div class="nhsuk-width-container" data-test-id="call-off-ordering-party-page">
    <div data-test-id="go-back-link">
      {{ backLink({
        "href": backlinkHref,
        "text": backlinkText
      }) }}
    </div>

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
        <h1 data-test-id="call-off-ordering-party-page-title" class="nhsuk-u-margin-top-7 nhsuk-u-margin-bottom-3">{{ title }}</h1>
        <h2 data-test-id="call-off-ordering-party-page-description" class="nhsuk-u-font-size-24 nhsuk-u-margin-bottom-9">{{ description }}</h2>

        <h3 data-test-id="organisation-name-heading" class="nhsuk-heading-s nhsuk-u-margin-bottom-3">{{ orgNameHeading }}</h3>
        <h3 data-test-id="organisation-ods-code-heading" class="nhsuk-heading-s nhsuk-u-margin-bottom-3">{{ odsCodeHeading }}</h3>
        <h3 data-test-id="organisation-address-heading" class="nhsuk-heading-s nhsuk-u-margin-bottom-3">{{ orgAddressHeading }}</h3>

        {{ bcButton({
            dataTestId: "save-button",
            text: saveButtonText,
            classes: "nhsuk-u-margin-top-9"
        })}}
    </div>
  </div>
{% endblock %}
