{% extends 'includes/layout.njk' %}
{% from 'components/back-link/macro.njk' import backLink %}
{% from 'components/bc-button/macro.njk' import bcButton %}

{% block body %}
  <div class="nhsuk-width-container" data-test-id="delete-order-page">
    <div data-test-id="go-back-link">
      {{ backLink({
        "href": backLinkHref,
        "text": backLinkText
      }) }}
    </div>

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
        <h1 data-test-id="delete-order-page-title" class="nhsuk-u-margin-top-7 nhsuk-u-margin-bottom-3">{{ title }}</h1>
        <h2 data-test-id="delete-order-page-description" class="nhsuk-u-font-size-24 nhsuk-u-margin-bottom-6">{{ description }}</h2>
        <h3 data-test-id="order-description-title" class="nhsuk-u-margin-bottom-3">{{ orderDescriptionTitle }}</h3>
        <h4 data-test-id="order-description" class="nhsuk-u-font-size-19 nhsuk-u-font-weight-normal">{{ orderDescription }}</h4>

        <form method="post">
          {{ bcButton({
              dataTestId: "no-button",
              text: noButtonText,
              classes: "nhsuk-u-margin-top-9"
          }) }}
    
          {{ bcButton({
              dataTestId: "yes-button",
              text: yesButtonText,
              classes: "nhsuk-u-margin-top-9"
          }) }}
        </form>
    </div>
  </div>
{% endblock %}
