{% extends 'includes/layout.njk' %}
{% from 'components/back-link/macro.njk' import backLink %}
{% from 'components/bc-table/macro.njk' import bcTable %}

{% block body %}
  <div class="nhsuk-width-container" data-test-id="preview-page">
    <div data-test-id="go-back-link">
      {{ backLink({
        "href": backLinkHref,
        "text": backLinkText
      }) }}
    </div>

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
        <h1 data-test-id="preview-page-title" class="nhsuk-u-margin-top-7 nhsuk-u-margin-bottom-3">{{ title }}</h1>
        <h2 data-test-id="preview-page-description" class="nhsuk-u-font-size-24 nhsuk-u-margin-bottom-6">{{ description }}</h2>

        <h3 data-test-id="order-description-heading" class="nhsuk-u-margin-bottom-3">{{ orderDescriptionHeading }}</h3>
        <h4 data-test-id="order-description" class="nhsuk-u-font-size-19 nhsuk-u-font-weight-normal">{{ orderDescription }}</h4>
      </div>
    </div>
  
    <div class="nhsuk-grid-row nhsuk-u-margin-bottom-3">
      <div class="nhsuk-grid-column-full">
        <div data-test-id="date-summary-created">
          <span class="nhsuk-u-font-weight-bold">{{ dateSummaryCreatedLabel }}</span> {{ dateSummaryCreated }}
        </div>
      </div>
    </div>

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">
        <div data-test-id="calloff-and-supplier"> 
          {{ bcTable({
            columnInfo: callOffAndSupplierTable.columnInfo,
            columnClass: callOffAndSupplierTable.columnClass,
            data: callOffAndSupplierTable.items
          }) }}
        </div>
      </div>
    </div>

    <div class="nhsuk-grid-row nhsuk-u-margin-bottom-3">
      <div class="nhsuk-grid-column-full">
        <div data-test-id="commencement-date">
          <span class="nhsuk-u-font-weight-bold">{{ commencementDateLabel }}</span> {{ commencementDate }}
        </div>
      </div>
    </div>

  </div>
{% endblock %}
