{% extends 'includes/layout.njk' %}
{% from 'components/back-link/macro.njk' import backLink %}
{% from 'components/bc-table/macro.njk' import bcTable %}
{% from 'components/bc-button/macro.njk' import bcButton %}

{% block body %}
  <div data-test-id="summary-page">
    <div data-test-id="go-back-link">
      {{ backLink({
        "href": backLinkHref,
        "text": backLinkText
      }) }}
    </div>

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
        <h1 data-test-id="summary-page-title" class="nhsuk-u-margin-top-7 nhsuk-u-margin-bottom-3">{{ title }}</h1>
        <p data-test-id="summary-page-description" class="nhsuk-heading-l nhsuk-u-font-size-24 nhsuk-u-margin-bottom-6">{{ description }}</p>
      </div>
    </div>

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
        <h3 data-test-id="order-description-heading" class="nhsuk-u-margin-bottom-3">{{ orderDescriptionHeading }}</h3>
        <h4 data-test-id="order-description" class="nhsuk-u-font-size-19 nhsuk-u-font-weight-normal">{{ orderDescription }}</h4>
      </div>

       <div class="nhsuk-grid-column-one-third">
        {% if (orderSummaryButtonText) %}
          {{ bcButton({
              dataTestId: "summary-page-orderSummaryButton-top",
              text: orderSummaryButtonText,
              href: orderSummaryButtonHref,
              classes: "nhsuk-button--secondary nhsuk-u-margin-bottom-2 nhsuk-u-margin-left-4",
              attributes: { "target": "_blank", "style": "width: 100%" }
            })
          }}         
          <div data-test-id="summary-page-orderSummaryButtonInfo-top" class="nhsuk-u-margin-bottom-6 nhsuk-u-margin-left-4">
            <span>{{ orderSummaryButtonInfoText }}</span>
          </div>    
        {% endif %}
      </div> 
    </div>

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">
        <div data-test-id="date-summary-created">
          <span class="nhsuk-u-font-weight-bold">{{ dateSummaryCreatedLabel }}</span> {{ dateSummaryCreated }}
        </div>
        <div data-test-id="date-completed">
          {% if (dateCompletedLabel) %}
            <span class="nhsuk-u-font-weight-bold">{{ dateCompletedLabel }}</span> {{ dateCompleted }}
          {% endif %}
        </div>
      </div>
    </div>   

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">
        <div data-test-id="calloff-and-supplier"> 
          {{ bcTable({
            caption: {
              text: orderAddressesTableCaption,
              classes: 'nhsuk-u-visually-hidden'
            },
            columnInfo: callOffAndSupplierTable.columnInfo,
            classes: callOffAndSupplierTable.classes,
            data: callOffAndSupplierTable.items
          }) }}
        </div>
      </div>
    </div>

    <div class="nhsuk-grid-row nhsuk-u-margin-bottom-3">
      <div class="nhsuk-grid-column-full">
        <div data-test-id="commencement-date">
          <span class="nhsuk-u-font-weight-bold">{{ commencementDateLabel }}</span> {{ commencementDate }}
        </div>
      </div>
    </div>

    <div class="nhsuk-grid-row nhsuk-u-margin-bottom-3">
      <div class="nhsuk-grid-column-full">
        <div data-test-id="order-items-one-off-costs">
          <h3 data-test-id="one-off-cost-heading" class="nhsuk-u-margin-bottom-3">{{ oneOffCostHeading }}</h3>
          <h4 data-test-id="one-off-cost-description" class="nhsuk-u-font-size-19 nhsuk-u-font-weight-normal">{{ oneOffCostDescription }}</h4>
          <div data-test-id="one-off-cost-table">
            {{ bcTable({
              caption: {
                text: oneOffCostHeading,
                classes: 'nhsuk-u-visually-hidden'
              },
              columnInfo: oneOffCostTable.columnInfo,
              classes: oneOffCostTable.classes,
              data: oneOffCostTable.items,
              footerColumnInfo: oneOffCostTotalsTable.columnInfo,
              footerColumnData: oneOffCostTotalsTable.items
            }) }}
          </div>
        </div>
      </div>
    </div>

    <div class="nhsuk-grid-row nhsuk-u-margin-bottom-3">
      <div class="nhsuk-grid-column-full">
        <div data-test-id="order-items-recurring-costs">
          <h3 data-test-id="recurring-cost-heading" class="nhsuk-u-margin-bottom-3">{{ recurringCostHeading }}</h3>
          <h4 data-test-id="recurring-cost-description" class="nhsuk-u-font-size-19 nhsuk-u-font-weight-normal">{{ recurringCostDescription }}</h4>
          <div data-test-id="recurring-cost-table" >
            {{ bcTable({
              caption: {
                text: recurringCostHeading,
                classes: 'nhsuk-u-visually-hidden'
              },
              columnInfo: recurringCostTable.columnInfo,
              classes: recurringCostTable.classes,
              data: recurringCostTable.items,
              footerColumnInfo: recurringCostTotalsTable.columnInfo,
              footerColumnData: recurringCostTotalsTable.items
            }) }}
          </div>
        </div>
      </div>

      <div class="bc-u-float-right nhsuk-grid-column-one-third">
        {% if (orderSummaryButtonText) %}
          {{ bcButton({
              dataTestId: "summary-page-orderSummaryButton-bottom",
              text: orderSummaryButtonText,
              href: orderSummaryButtonHref,
              classes: "nhsuk-button--secondary nhsuk-u-margin-bottom-2 nhsuk-u-margin-left-4",
              attributes: { "target": "_blank", "style": "width: 100%" }
            })
          }}         
          <div data-test-id="summary-page-orderSummaryButtonInfo-bottom" class="nhsuk-u-margin-bottom-6 nhsuk-u-margin-left-4">
            <span>{{ orderSummaryButtonInfoText }}</span>
          </div>    
        {% endif %}
      </div> 
    </div>
  </div>
{% endblock %}
