{% extends 'includes/layout.njk' %}
{% from 'components/back-link/macro.njk' import backLink %}
{% from 'components/bc-button/macro.njk' import bcButton %}
{% from 'components/inset-text/macro.njk' import insetText %}

{% block body %}
  <div class="nhsuk-width-container" data-test-id="complete-order-page">
    <div data-test-id="go-back-link">
      {{ backLink({
        "href": backLinkHref,
        "text": backLinkText
      }) }}
    </div>

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
        <h1 data-test-id="complete-order-page-title" class="nhsuk-u-margin-top-7 nhsuk-u-margin-bottom-3">{{ title }}</h1>
        <p data-test-id="complete-order-page-description" class="nhsuk-heading-l nhsuk-u-font-size-24 nhsuk-u-margin-bottom-6">{{ description }}</p>

        {% if insetAdvice %}
          <div data-test-id="complete-order-page-inset-advice">
            {{ insetText({
              "HTML": insetAdvice
            }) }}
          </div>
        {% endif %}

        <h3 data-test-id="order-description-title" class="nhsuk-u-margin-bottom-3">{{ orderDescriptionTitle }}</h3>
        <h4 data-test-id="order-description" class="nhsuk-u-font-size-19 nhsuk-u-font-weight-normal">{{ orderDescription }}</h4>

        <form method="post">
          <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
          <div class="bc-u-inline-block">
          {{ bcButton({
              dataTestId: "continue-editing-order-button",
              text: continueEditingOrderButtonText,
              classes: "nhsuk-u-margin-top-9 nhsuk-u-margin-right-5",
              href: continueEditingOrderButtonHref
          })}}
          </div>
          <div class="bc-u-inline-block">
          {{ bcButton({
              dataTestId: "complete-order-button",
              text: completeOrderButtonText,
              classes: "nhsuk-u-margin-top-9"
          })}}
          </div>
        </form>
    </div>
  </div>
{% endblock %}
