{% extends 'includes/layout.njk' %}
{% from 'components/back-link/macro.njk' import backLink %}
{% from 'components/bc-button/macro.njk' import bcButton %}
{% from 'components/inset-text/macro.njk' import insetText %}
{% from 'components/checkboxes/macro.njk' import checkboxes %}
{% from 'components/bc-table-flexible/macro.njk' import bcTableFlexible %}

{% block body %}
  <div class="nhsuk-width-container" data-test-id="service-recipients-page">
    <div data-test-id="go-back-link">
      {{ backLink({
        "href": backLinkHref,
        "text": backLinkText
      }) }}
    </div>
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
        <h1 data-test-id="service-recipients-page-title" class="nhsuk-u-margin-top-7 nhsuk-u-margin-bottom-3">{{ title }}</h1>
        <h2 data-test-id="service-recipients-page-description" class="nhsuk-u-font-size-24 nhsuk-u-margin-bottom-7">{{ description }}</h2>

        <div data-test-id="service-recipients-page-insetAdvice">
          {{ insetText({
            HTML: insetAdvice
          }) }}
        </div>
      </div>

      <div class="nhsuk-grid-column-full">
        <form method="get" action="{{selectDeselectButtonAction}}">
          <input type="hidden" name="selectStatus" value="{{selectStatus}}" />
          {{ bcButton({
              dataTestId: "select-deselect-button",
              text: selectDeselectButtonText,
              classes: "nhsuk-button--secondary"
          })}}
        </form>

        <form method="post">
          <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
          <div data-test-id="recipients-table" class=" nhsuk-u-margin-top-0">
            {{ bcTableFlexible({
              columnInfo: serviceRecipientsTable.columnInfo,
              classes: serviceRecipientsTable.classes,
              data: serviceRecipientsTable.items
            }) }}
          </div>
          {{ bcButton({
              dataTestId: "continue-button",
              text: continueButtonText,
              classes: "nhsuk-u-margin-top-9"
          })}}
        </form>
      </div>
    </div>
  </div>
{% endblock %}
