{% extends 'includes/layout.njk' %}
{% from 'components/back-link/macro.njk' import backLink %}
{% from 'components/bc-button/macro.njk' import bcButton %}
{% from 'components/inset-text/macro.njk' import insetText %}
{% from 'components/checkboxes/macro.njk' import checkboxes %}

{% block body %}
  <div class="nhsuk-width-container" data-test-id="service-recipients-page">
    <div data-test-id="go-back-link">
      {{ backLink({
        "href": backLinkHref,
        "text": backLinkText
      }) }}
    </div>
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
        <h1 data-test-id="service-recipients-page-title" class="nhsuk-u-margin-top-7 nhsuk-u-margin-bottom-3">{{ title }}</h1>
        <h2 data-test-id="service-recipients-page-description" class="nhsuk-u-font-size-24 nhsuk-u-margin-bottom-7">{{ description }}</h2>

        <div data-test-id="service-recipients-page-insetAdvice">
          {{ insetText({
            HTML: insetAdvice
          }) }}
        </div>

        {{ bcButton({
            dataTestId: "select-deselect-button",
            text: selectDeselectButton.selectText,
            classes: "nhsuk-button--secondary"
        })}}

        <div class="nhsuk-grid-row nhsuk-u-font-size-19 nhsuk-u-font-weight-bold">
          <div data-test-id="organisation-heading" class="nhsuk-grid-column-two-thirds">
            {{ organisationHeading }}
          </div>
          <div data-test-id="ods-code-heading" class="nhsuk-grid-column-one-third">
            {{ odsCodeHeading }}
          </div>
        </div>
      </div>
    </div>

    <hr class="bc-c-order-table__hr nhsuk-grid-column-full nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-4"/>

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds nhsuk-u-font-size-16">
        {% for row in tableData %}
          <div class="nhsuk-grid-row">
            <div data-test-id="organisation-name-checkbox-{{row.odsCode}}" class="nhsuk-grid-column-two-thirds">
              {{ checkboxes({
                  items: [row.organisationName]
                }) }}
            </div>
            <div data-test-id="ods-code-{{row.odsCode}}" class="nhsuk-grid-column-one-third bc-c-service-recipients-table__ods">
              {{ row.odsCode }}
            </div>
          </div>
        {% endfor %}
        {{ bcButton({
            dataTestId: "continue-button",
            text: continueButtonText,
            classes: "nhsuk-u-margin-top-9"
        })}}
    </div>
  </div>
{% endblock %}
