{% extends 'includes/layout.njk' %}
{% from 'components/back-link/macro.njk' import backLink %}
{% from 'components/bc-button/macro.njk' import bcButton %}
{% from 'components/bc-task-list/macro.njk' import bcTaskList %}

{% block body %}
  <div class="nhsuk-width-container"  data-test-id="{{orderId}}-page">
    <div data-test-id="go-back-link">
      {{ backLink({
        href: backLinkHref,
        text: backLinkText
      }) }}
    </div>

	  <div class="nhsuk-grid-row nhsuk-u-margin-bottom-6">
      <div class="nhsuk-grid-column-two-thirds">
        <h1 data-test-id="{{orderId}}-page-title" class="nhsuk-u-margin-top-7 nhsuk-u-margin-bottom-3">{{ title }}</h1>
        <h2 data-test-id="{{orderId}}-page-description" class="nhsuk-u-font-size-24 nhsuk-u-margin-bottom-6">{{ description }}</h2>

        {% if orderId !== 'neworder' %}
          <div>
            <h3 data-test-id="{{orderId}}-order-description-title" class="nhsuk-u-margin-bottom-3">{{ orderDescriptionTitle }}</h3>
            <h4 data-test-id="{{orderId}}-order-description" class="nhsuk-u-font-size-19 nhsuk-u-font-weight-normal">{{ orderDescription }}</h4>
          </div>
        {% endif %}
      </div>
    </div>

    <hr class="nhsuk-u-margin-top-0 nhsuk-u-margin-bottom-3 bc-c-order-table--hr"/>

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">
        {{ bcTaskList({
          taskList: taskList
        }) }}
      </div>
    </div>

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-one-third">
        {{ bcButton({
          dataTestId: "delete-order-button",
          text: deleteOrderButton.text,
          altText: deleteOrderButton.altText,
          classes: "nhsuk-button--secondary nhsuk-u-margin-bottom-9",
          href: deleteOrderButton.href,
          disabled: deleteOrderButton.disabled
        }) }}
      </div>

      <div class="nhsuk-grid-column-two-thirds">
        <div class="bc-u-float-right">
          <div class="bc-u-inline-block">
            {{ bcButton({
              dataTestId: "preview-order-button",
              text: previewOrderButton.text,
              altText: previewOrderButton.altText,
              classes: "nhsuk-button--secondary nhsuk-u-margin-bottom-9 nhsuk-u-margin-right-5",
              href: previewOrderButton.href,
              disabled: previewOrderButton.disabled
            }) }}
          </div>

          <div class="bc-u-inline-block">
            {{ bcButton({
              dataTestId: "submit-order-button",
              text: submitOrderButton.text,
              altText: submitOrderButton.altText,
              classes: "nhsuk-u-margin-bottom-9",
              href: submitOrderButton.href,
              disabled: submitOrderButton.disabled
            }) }}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
