{% extends 'includes/layout.njk' %}
{% from 'components/back-link/macro.njk' import backLink %}
{% from 'components/bc-button/macro.njk' import bcButton %}

{% block body %}
  <div class="nhsuk-width-container"  data-test-id="{{pageName}}-page">
    <div data-test-id="go-back-link">
      {{ backLink({
        href: backLinkHref,
        text: backLinkText
      }) }}
    </div>

	  <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
        <h1 data-test-id="{{pageName}}-page-title" class="nhsuk-u-margin-top-7 nhsuk-u-margin-bottom-3">{{ title }}</h1>
        <h2 data-test-id="{{pageName}}-page-description" class="nhsuk-u-font-size-24 nhsuk-u-margin-bottom-6">{{ description }}</h2>
      </div>
    </div>

    <div class="nhsuk-grid-row">
      {{ bcButton({
        dataTestId: "delete-order-button",
        text: deleteOrderButtonText,
        classes: "nhsuk-button--secondary nhsuk-u-margin-bottom-9",
        href: deleteOrderButtonHref,
        enabled: deleteOrderButtonEnabled
      }) }}

      {{ bcButton({
        dataTestId: "preview-order-button",
        text: previewOrderButtonText,
        classes: "nhsuk-button--secondary nhsuk-u-margin-bottom-9",
        href: previewOrderButtonHref,
        enabled: previewOrderButtonEnabled
      }) }}

      {{ bcButton({
        dataTestId: "submit-order-button",
        text: submitOrderButtonText,
        classes: "nhsuk-u-margin-bottom-9",
        href: submitOrderButtonHref,
        enabled: submitOrderButtonEnabled
      }) }}
    </div>
  </div>
{% endblock %}
