{% from 'components/bc-header/macro.njk' import bcHeader %}
{% from 'components/panel/macro.njk' import panel %}
{% from 'components/login-logout/macro.njk' import loginLogout %}

{{ bcHeader({
  dataTestId: "header-banner",
  classes: "nhsuk-u-padding-top-3 nhsuk-u-padding-bottom-2"
}) }}

