{% from 'components/bc-header/macro.njk' import bcHeader %}
{% from 'components/login-logout/macro.njk' import loginLogout %}

{{ bcHeader({
  dataTestId: "header-banner",
  innerComponent: loginLogout({
    dataTestId: "login-logout-component",
    username: username,
    organisation: organisation,
    loginUrl: config.baseUrl + "/login",
    logoutUrl: config.baseUrl + "/logout"
  }),
  classes: "nhsuk-u-padding-top-3 nhsuk-u-padding-bottom-2",
  logoLink: {
    href: config.publicBrowseBaseUrl,
    ariaLabel: "Buying Catalogue Homepage"
  },
  showBetaBanner: true,
  termsHref: config.feedbackLinkUrl,
  cookiePrivacy: {
      showBanner: showCookieBanner,
      href: "/privacy-policy",
      dismissHref: "/order/dismiss-cookie-banner"
    }
}) }}
